/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul {
    padding: 0;
}

#root,
#__next {
    isolation: isolate;
}

/* Document setup */
@font-face {
    font-family: PPGoshaSans;
    src: url(PPGoshaSans-Ultralight.woff2) format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: PPNeueMontreal;
    src: url(PPNeueMontreal-Regular.woff2) format("woff2");
    font-display: fallback;
}

html {
    font-size: 15px;
    height: auto;
    overflow: hidden;
    font-family: PPNeueMontreal;
    box-sizing: border-box;
}

canvas {
    position: absolute;
    top: 0px;
    cursor: cell;
}

h5 {
    font-weight: 200;
    font-size: 18px;
    color: rgba(15, 15, 25, 1);
}

p {
    font-size: 14px;
    color: rgb(120, 120, 120);
}

/* Styles */
.page {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.dotted {
    --dot-bg: white;
    --dot-color: rgba(200, 200, 200, 1);
    --dot-size: 2px;
    --dot-space: 32px;
    background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
    transition: 2s ease-in-out;
}

.d-logo {
    filter: invert(12%) sepia(99%) saturate(4742%) hue-rotate(244deg) brightness(87%) contrast(153%);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.footer {
    position: fixed;
    bottom: 12px;
    left: 0;
    right: 0;
    margin-inline: auto;
    max-width: 768px;
    padding: 12px 18px 12px 28px;
    width: 100vw;
    border: 1px solid rgba(220, 220, 220, 1);
    z-index: 100;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 16px;
    background-color: white;
    transition: 800ms ease-in-out;
    box-shadow: 0 12px 18px -9px rgba(33, 33, 37, 0.16);
    transform: translate(0, 200px);
}

#footer-text {
    flex-grow: 99;
}

.text-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-grow: 1;
}

.button-group {
    display: flex;
    gap: 8px;
    flex-grow: 1;
}

.button {
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 25px;
    flex-grow: 1;
    transition: 100ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:active {
    transform: scale(0.97);
}

.btn-outline {
    border: 1px solid rgb(180, 180, 180);
    background-color: transparent;
}

.btn-outline:hover {
    background-color: rgb(248, 248, 248);
    box-shadow: 10px;
}

.btn-primary {
    background-color: blue;
    color: white;
}

.btn-primary:hover {
    background-color: rgb(0, 0, 200);
}

#color-circle {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: rgb(162, 250, 163);
    border: 1px solid rgba(15, 15, 25, 1);
}

/* Mobile-specific rules */
@media screen and (max-width: 900px) {
    .footer {
        border-radius: 0px;
        bottom: 0;
        padding: 12px 24px 12px 24px;
        margin-inline: 0;
        max-width: 900px;
    }


}