.project-content {
    margin-top: 160px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

/* PROJECT HEADING */
.project-heading {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-properties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
    gap: 24px;
    border-top: 1px solid var(--color-border-primary-25);
    border-bottom: 1px solid var(--color-border-primary-25);
}

.project-properties .property {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.property .property-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}

.project-main-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* PROJECT BODY */
.project-body {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.project-body .section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* NEXT PROJECT SECTION */
.next-project {
    border-top: 1px solid var(--color-border-primary-25);
}

.next-project-content {
    padding: 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 20rem;
}

.next-project-content .left {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.next-project-content .right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 12px;
}


/* RESPONSIVE */
/* Mobile devices */
@media (max-width:768px) {
    .project-content {
        margin-bottom: 112px;
    }

    .project-properties {
        flex-direction: column;
        gap: 24px;
        padding: 24px 0;
    }

    .next-project-content {
        flex-direction: column;
        padding: 0 0 48px 0;
    }
}