body {
    background-color: var(--color-fill-background);
    -webkit-font-smoothing: antialiased;
}

/* COMMON */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}

.container-small {
    max-width: 574px;
    margin: 0 auto;
    padding: 0 16px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}

/* Borders */
.bordered-100 {
    border: 1px solid var(--color-border-primary-100);
}

.bordered-25 {
    border: 1px solid var(--color-border-primary-25);
}

.bordered-10 {
    border: 1px solid var(--color-border-primary-10);
}

/* Color modifiers */
.bg-alt {
    background-color: var(--color-fill-background-alt);
}