/* COLORS */
/* Light theme */
:root,
[data-theme="light"] {
    --color-core-primary: rgba(24,24,24,1);
    --color-core-accent: rgba(0,123,255,1);

    --color-text-primary: rgba(24,24,24,1);
    --color-text-secondary: rgba(73,80,87,1);
    --color-text-primary-alt: rgba(250,250,250,1);
    --color-text-warning: rgba(224,143,0,1);

    --color-fill-background: rgba(250,250,250,1);
    --color-fill-background-invert: rgba(255,255,255,1);
    --color-fill-surface: rgba(240,241,242,1);
    --color-fill-surface-warning: rgba(224,143,0,0.051);
    --color-fill-background-alt: rgba(24,24,24,1);
    --color-fill-dots: rgba(24,24,24,0.161);

    --color-border-primary-100: rgba(24,24,24,1);
    --color-border-primary-25: rgba(24,24,24,0.251);
    --color-border-primary-10: rgba(24,24,24,0.102);
    --color-border-warning-25: rgba(224,143,0,0.251);

    --color-interaction-fill-surface-hover: rgba(228,229,229,1);
    --color-interaction-btn-primary-hover: rgba(0,98,204,1);
    --color-interaction-btn-primary-active: rgba(0,80,163,1);
    --color-interaction-btn-primary-disabled: rgba(179,179,179,1);
    --color-interaction-btn-outline-hover: rgba(33,37,41,0.051);
    --color-interaction-btn-outline-active: rgba(33,37,41,0.251);
    --color-interaction-btn-outline-disabled: rgba(33,37,41,0.051);
    --color-interaction-btn-flat-hover: rgba(0,123,255,0.102);
    --color-interaction-btn-flat-active: rgba(0,123,255,0.251);
    --color-interaction-btn-flat-disabled: transparent;
}

/* Dark theme */
[data-theme="dark"] {
    --color-core-primary: rgba(224,224,224,1);
    --color-core-accent: rgba(85,168,249,1);

    --color-text-primary: rgba(224,224,224,1);
    --color-text-secondary: rgba(159,163,168,1);
    --color-text-primary-alt: rgba(15,15,15,1);
    --color-text-warning: rgba(248,167,32,1);

    --color-fill-background: rgba(15,15,15,1);
    --color-fill-background-invert: rgba(24,24,24,1);
    --color-fill-surface: rgba(44,44,44,1);
    --color-fill-surface-warning: rgba(248,167,32,0.051);
    --color-fill-background-alt: rgba(224,224,224,1);
    --color-fill-dots: rgba(224,224,224,0.161);

    --color-border-primary-100: rgba(64,62,60,1);
    --color-border-primary-25: rgba(217,217,217,0.251);
    --color-border-primary-10: rgba(217,217,217,0.102);
    --color-border-warning-25: rgba(248,167,32,0.251);

    --color-interaction-fill-surface-hover: rgba(59,59,59,1);
    --color-interaction-btn-primary-hover: rgba(0,123,255,1);
    --color-interaction-btn-primary-active: rgba(0,80,163,1);
    --color-interaction-btn-primary-disabled: rgba(179,179,179,1);
    --color-interaction-btn-outline-hover: rgba(33,37,41,0.478);
    --color-interaction-btn-outline-active: rgba(33,37,41,0.878);
    --color-interaction-btn-outline-disabled: rgba(33,37,41,0.478);
    --color-interaction-btn-flat-hover: rgba(85,168,249,0.122);
    --color-interaction-btn-flat-active: rgba(85,168,249,0.18);
    --color-interaction-btn-flat-disabled: transparent;
}

/* FONT SETUP */
@font-face {
    font-family: PPNeueMontreal;
    src: url(typefaces/PPNeueMontreal-Regular.woff2) format("woff2");
    font-weight: 450;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: PPNeueMontreal;
    src: url(typefaces/PPNeueMontreal-Italic.woff2) format("woff2");
    font-weight: 450;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: PPNeueMontreal;
    src: url(typefaces/PPNeueMontreal-Medium.woff2) format("woff2");
    font-weight: 530;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: PPNeueMontreal;
    src: url(typefaces/PPNeueMontreal-Bold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

/* TYPOGRAPHY */
body {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--color-text-primary);
}

/* Headings */
h1,
.h1 {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 530;
    font-size: 61px;
    line-height: 61px;
    letter-spacing: -0.03em;
    color: var(--color-text-primary);
}

h2,
.h2 {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 530;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.025em;
    color: var(--color-text-primary);
}

h3,
.h3 {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 530;
    font-size: 39px;
    line-height: 42px;
    letter-spacing: -0.02em;
    color: var(--color-text-primary);
}

h4,
.h4 {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 530;
    font-size: 31px;
    line-height: 34px;
    letter-spacing: -0.015em;
    color: var(--color-text-primary);
}

h5,
.h5 {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 530;
    font-size: 25px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: var(--color-text-primary);
}

h6,
.h6 {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 530;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.005em;
    color: var(--color-text-primary);
}

/* Paragraphs */
p {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--color-text-primary);
}

p.large {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 450;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: var(--color-text-primary);
}

p.xlarge {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 450;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: var(--color-text-primary);
}

p.small,
small {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 450;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.005em;;
    color: var(--color-text-primary);
}

p.xsmall {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 450;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.015em;
    color: var(--color-text-primary);
}

/* Links */
a {
    color: var(--color-text-primary);
    text-decoration: none;
    transition: color 0.2s;
}

a.large {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 530;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: var(--color-text-primary);
}

a.xlarge {
    font-family: PPNeueMontreal, sans-serif;
    font-weight: 530;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: var(--color-text-primary);
}

a:hover {
    text-decoration: underline;
}

a.underline {
    text-decoration: underline;
}

a:focus {
    outline: 2px solid var(--color-core-accent);
    outline-offset: 2px;
}

/* Text modifiers */
.text-italic,
em {
    font-style: italic !important;
}

b, strong {
    font-weight: 800 !important;
}

.text-regular {
    font-weight: 450 !important;
}

.text-medium {
    font-weight: 530 !important;
}

/* Text color utilities */
.text-primary {
    color: var(--color-text-primary) !important;
}

.text-primary-alt {
    color: var(--color-text-primary-alt) !important;
}

.text-secondary {
    color: var(--color-text-secondary)!important;
}

.text-warning {
    color: var(--color-text-warning)!important;
}