/* COLORS */
/* Light theme */
:root,
[data-theme="light"] {
    --accent: rgba(0, 44, 229, 1);
    --background: rgba(250, 250, 250, 1);

    --primary: rgba(15, 15, 15, 1);
    --primary-alt: rgba(255, 255, 255, 1);
    --secondary: rgba(120, 120, 120, 1);

    --component-background: rgba(255, 255, 255, 1);

    --border: rgba(180, 180, 180, 1);
    --border-70: rgba(180, 180, 180, 0.7);
    --border-40: rgba(180, 180, 180, 0.4);
    --border-30: rgba(180, 180, 180, 0.3);
    --border-20: rgba(180, 180, 180, 0.2);

    --fill: rgba(245, 245, 245, 1);
    --light: rgba(240, 240, 240, 1);
    --shadow: rgba(33, 33, 33, 0.16);
}

/* Dark theme */
[data-theme="dark"] {
    --accent: rgba(234, 229, 223, 1);
    --background: rgba(10, 10, 15, 1);

    --primary: rgba(255, 255, 255, 1);
    --primary-alt: rgba(5, 5, 10, 1);
    --secondary: rgba(165, 165, 170, 1);

    --component-background: rgba(20, 20, 25, 1);

    --border: rgba(80, 80, 85, 1);
    --border-70: rgba(80, 80, 85, 0.7);
    --border-40: rgba(80, 80, 85, 0.4);
    --border-30: rgba(80, 80, 85, 0.3);
    --border-20: rgba(80, 80, 85, 0.2);

    --fill: rgba(32, 32, 37, 1);
    --light: rgba(25, 25, 30, 1);
    --shadow: rgba(33, 33, 37, 0.16);
}

/* FONT SETUP */
@font-face {
    font-family: PPNeueMontreal;
    src: url(typefaces/PPNeueMontreal-Book.woff2) format("woff2");
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: PPNeueMontreal;
    src: url(typefaces/PPNeueMontreal-Medium.woff2) format("woff2");
    font-weight: 530;
    font-display: fallback;
}